*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root{
  height: 100%;
  width: 100%;

}
html{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.note{
  background-color: #494949;
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: whitesmoke;
}

.notes{
  display: flex;
  gap: 5rem;
  text-align: center;
  flex-wrap: wrap;
}

form{
  width: 100%;
  background-color: rgb(2, 12, 24);
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 20px;
}

form button{
  padding: 10px 40px;
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

form input{
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: black;
  background-color: rgb(213, 234, 241);
}

.note button{
  padding: 10px 30px;
  border-radius: 5px;
}